.footer {
  background-color: var(--bg-black);
  color: #777;
  padding: 50px 0;
}

.footer-content {
  display: flex;
  justify-content: space-around;
  flex-wrap: wrap;
}

.footer-section {
  flex: 1 0 300px;
  margin: 0 20px;
}

.footer-section h2 {
  color: #fff;
  font-size: 25px;
}

.footer-section p {
  font-size: 16px;
  line-height: 1.5;
}

.footer-section ul {
  list-style: none;
  padding: 0;
}

.footer-section ul li {
  margin-bottom: 10px;
}

.footer-section ul li a {
  color: #777;
  text-decoration: none;
}

.footer-section ul li a:hover {
  color: #fff;
  text-decoration: underline;
}

.footer-bottom {
  text-align: center;
  margin-top: 30px;
}

.footer-bottom p {
  font-size: 14px;
}

.social-icons {
  list-style: none;
  padding: 0;
  display: flex;
}

.social-icons li {
  margin-right: 10px;
}

.social-icons li:last-child {
  margin-right: 0;
}

.social-icons a {
  color: #777;
  text-decoration: none;
  font-size: 24px;
}

.social-icons a:hover {
  color: #fff;
}

.logo-section {
  display: flex;
  justify-content: center;
  align-items: center;
}

.cred-logo {
  max-width: 100%;
  height: auto;
  margin-bottom: 72px;
}

